<div class="nav">
    <ul>
      <li><a href="#">
          <i class="icon gdc fas fa-file-alt"></i>
          <div class="circle"></div>
          <span class="title">Gestión Documental</span>
        </a></li>
      <li><a href="#"><i class="icon gev fas fa-calendar-alt"></i>
          <div class="circle"></div><span class="title">Gestión Eventos</span>
        </a></li>
      <li><a href="#"><i class="icon ges fas fa-building"></i>
          <div class="circle"></div><span class="title">Gestión Espacios</span>
        </a></li>
      <li><a href="#"><i class="icon gpt fas fa-money-bill-alt"></i>
          <div class="circle">
          </div><span class="title">Gestión Presupuestal</span>
        </a></li>
      <li><a href="#"><i class="icon gadm fas fa-cog"></i>
          <div class="circle"></div><span class="title">Administración</span>
        </a></li>
    </ul>
    <div class="background"></div>
  </div>
