<div class="row container-content mb-2">
    <div class="mt-3">
        <h4 class="text-uppercase">Gestión Documental</h4>
    </div>

    <div class="col-6 lateral-left p-0 ">

        <div class=" document-resume container-fluid">
            <section id="resume" class="p-2 mb-1">
                <div class="col ">
                    <p>Recepción de Documentos</p>
                </div>
            </section>

            <section class="table-reception-doc" style="margin-bottom: 0px;">
                <div class="col-12">
                    <div class="card crd-reception">
                        <div class="card-content p-0">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right p-1" style="width: 100%;">
                                        <div class="">
                                            <div class="row header-search">
                                                <div class="col-8 ">
                                                    <mat-form-field class="example-form-field" appearance="fill">
                                                        <mat-label>Buscar en Recepción</mat-label>
                                                        <input matInput (keyup)="applyFilter($event)"
                                                            [(ngModel)]="terminoBusqueda" placeholder="Ingrese un Valor"
                                                            #input>
                                                        <button *ngIf="terminoBusqueda" matSuffix mat-icon-button
                                                            aria-label="Borrar" (click)="cleanSearchReception()">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-4">
                                                    <button mat-raised-button extended color="primary" style="top: 25%;"
                                                        (click)="open(newReception, 'new-reception')">Nueva
                                                        Recepción</button>
                                                </div>

                                            </div>

                                            <table mat-table [dataSource]="dataSource"
                                                class="mat-elevation-z8 table-reception demo-table"
                                                style="margin-top: 0px;" #tabla1>

                                                <ng-container matColumnDef="codigo">
                                                    <th mat-header-cell *matHeaderCellDef> Código </th>
                                                    <td [title]="document_reception._id" mat-cell
                                                        *matCellDef="let document_reception">
                                                        {{document_reception._id}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="descripcion">
                                                    <th mat-header-cell *matHeaderCellDef> Asunto </th>
                                                    <td [title]="document_reception.asunto" mat-cell
                                                        *matCellDef="let document_reception">
                                                        {{document_reception.asunto}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="fecha">
                                                    <th mat-header-cell *matHeaderCellDef> Fecha Recepción </th>
                                                    <td [title]="document_reception.fecha_recepcion" mat-cell
                                                        *matCellDef="let document_reception">
                                                        {{document_reception.fecha_recepcion}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="funcionario">
                                                    <th mat-header-cell *matHeaderCellDef> Funcionario </th>
                                                    <td [title]="document_reception.funcionario_recepcion" mat-cell
                                                        *matCellDef="let document_reception">
                                                        {{document_reception.funcionario_recepcion}} </td>
                                                </ng-container>

                                                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                            </table>
                                            <mat-paginator #paginator [pageSizeOptions]="[3]" showFirstLastButtons
                                                style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="mt-1 mb-2">
                <div class="col ">
                    <p>Generalidades</p>
                </div>
            </section>

            <section class="resume">
                <div class="row" style="display: flex; align-items: center; justify-content: center;">
                    <div class="col-5">
                        <div class="card crd">
                            <div class="card-content">
                                <div class="card-body p-2">
                                    <div class="row d-flex">
                                        <div class="col-2">
                                            <i class="icon-book-open primary font-large-2"></i>
                                        </div>
                                        <div class="col-10" style="text-align: right;">
                                            <h3>{{totalDocs}}</h3>
                                            <span class="primary">Total</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-5">
                        <div class="card crd">
                            <div class="card-content">
                                <div class="card-body p-2">
                                    <div class="row d-flex">
                                        <div class="col-2">
                                            <i class="icon-docs info font-large-2"></i>
                                        </div>
                                        <div class="col-10" style="text-align: right;">
                                            <h3>{{generatedDocs}}</h3>
                                            <span class="info">Generados</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    <div class="col-6 lateral-right p-0">
        <div class="mt-1 document-vcb container-fluid">
            <section id="resume" class="p-2 ">
                <div class="col ">
                    <p>Documentos Vicerrectoría de Cultura y Bienestar</p>
                </div>
            </section>
            <section class="table-vcb-doc" style="margin-bottom: 0px;">
                <div class="col-12 ">
                    <div class="card crd-vcb">
                        <div class="card-content p-0">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right p-2" style="width: 100%;">
                                        <div class="">
                                            <div class="row header-search">
                                                <div class="col-8">

                                                    <mat-form-field color="accent" class="example-form-field"
                                                        appearance="fill">
                                                        <mat-label>Buscar en VCB</mat-label>
                                                        <input matInput (keyup)="applyFilterVCB($event)"
                                                            [(ngModel)]="terminoBusquedaVCB"
                                                            placeholder="Ingrese un Valor" #input>
                                                        <button *ngIf="terminoBusquedaVCB" matSuffix mat-icon-button
                                                            aria-label="Borrar" (click)="cleanSearchVCB()">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-4">
                                                    <button mat-raised-button extended color="accent" style="top: 25%;"
                                                        (click)="open(newTRD, 'new-trd')">Nuevo
                                                        Documento</button>
                                                </div>
                                            </div>

                                            <table mat-table [dataSource]="dataSourceVCB"
                                                class="mat-elevation-z8 table-vcb" style="margin-top: 0px;" #tabla2>

                                                <ng-container matColumnDef="trd">
                                                    <th mat-header-cell *matHeaderCellDef> TRD </th>
                                                    <td [title]="document_vcb._id" mat-cell
                                                        *matCellDef="let document_vcb">
                                                        {{document_vcb._id}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="asunto">
                                                    <th mat-header-cell *matHeaderCellDef> Asunto </th>
                                                    <td [title]="document_vcb.asunto" mat-cell
                                                        *matCellDef="let document_vcb">
                                                        {{document_vcb.asunto}}
                                                    </td>
                                                </ng-container>

                                                <ng-container matColumnDef="fecha">
                                                    <th mat-header-cell *matHeaderCellDef> Fecha Documento </th>
                                                    <td [title]="document_vcb.fecha_recepcion" mat-cell
                                                        *matCellDef="let document_vcb">
                                                        {{document_vcb.fecha_recepcion}} </td>
                                                </ng-container>

                                                <ng-container matColumnDef="funcionario">
                                                    <th mat-header-cell *matHeaderCellDef> Funcionario </th>
                                                    <td [title]="document_vcb.funcionario_recepcion" mat-cell
                                                        *matCellDef="let document_vcb">
                                                        {{document_vcb.funcionario_recepcion}} </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="columnasVCB"></tr>
                                                <tr mat-row *matRowDef="let row; columns: columnasVCB;"></tr>
                                            </table>
                                            <mat-paginator #paginatorVCB [pageSizeOptions]="[3]" showFirstLastButtons
                                                style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>

            <section class="mt-1 mb-2">
                <div class="col ">
                    <p>Mis Documentos</p>
                </div>
            </section>

            <section class="resume ">
                <div class="row" style="display: flex; align-items: center; justify-content: center;">
                    <div class="col-5">
                        <div class="card crd">
                            <div class="card-content">
                                <div class="card-body p-2">
                                    <div class="row d-flex">
                                        <div class="col-2">
                                            <i class="icon-doc warning font-large-2"></i>
                                        </div>
                                        <div class="col-10 media-body" style="text-align: right;">
                                            <h3>{{pendingDocs}}</h3>
                                            <span class="warning">Pendientes</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="card crd">
                            <div class="card-content">
                                <div class="card-body p-2">
                                    <div class="row d-flex">
                                        <div class="col-2">
                                            <i class="icon-note success font-large-2"></i>
                                        </div>
                                        <div class="col-10" style="text-align: right;">
                                            <h3>{{availableDocs}}</h3>
                                            <span class="success">Disponibles</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


<!-- Modal Nueva Recepción -->
<ng-template class="modal-reception " #newReception let-c="close" let-d="dismiss">|
    <div class="modal-header">
        <i class="icon-book-open font-large-2 icon-reception"></i>
        <h1 class="modal-title-reception" id="modal-basic-title">Recepción de Documentos</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="c('Cross click')"></button>
    </div>
    <div class="modal-body document-form  ">
        <!-- <form [formGroup]="formNewDocumentReception" (ngSubmit)="addNewDocumentReception()"> -->
        <div class="form-group">
            <div class="" style="text-align: right; font-size: small;">
                <label class="date-label">
                    <span class="blue-text">Fecha y Hora:</span>
                    <span class="green-text">{{fechaHora }}</span>
                </label>
            </div>
            <div class="row" style="text-align: right;">
                <div class="col-10">
                    <mat-checkbox class="checkbox-emisor" [(ngModel)]="recepcionFisica">Físico</mat-checkbox>
                </div>

                <div class="col-2">
                    <mat-checkbox class="checkbox-emisor" [(ngModel)]="recepcionVirtual">Virtual</mat-checkbox>
                </div>
            </div>

        </div>
        <!-- Asunto -->
        <div class="row form-group ">
            <div class="col-2" style="display: flex; align-items: center;">
                <label for="asasunto">Asunto:</label>
            </div>

            <div class="col-10">
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Asunto del Documento</mat-label>
                    <input matInput placeholder="Asunto del Documento" #inputAsunto [(ngModel)]="asunto">
                    <button *ngIf="asunto" matSuffix mat-icon-button aria-label="Borrar" (click)="asunto=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

            </div>
        </div>
        <!-- Remitente - Emisor -->
        <div class="row  form-group">
            <div class="col-2 " style="display: flex; align-items: center;">
                <label for="remitente">Remitente:</label>
            </div>
            <div class="col-10" style="display: flex; align-items: center;">

                <ng-autocomplete [data]="remitente" [searchKeyword]="buscarRemitente"
                    placeholder="Remitente del Documento" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" notFoundText="Sin Resultados">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>


        </div>

        <!-- Emisor -->
        <div class="row  form-group">
            <div class="col-2 " style="display: flex; align-items: center;">
                <mat-checkbox class="checkbox-emisor" [(ngModel)]="emisorEnabled">Emisor</mat-checkbox>
            </div>
            <div class="col-10" style="display: flex; align-items: center;">

                <ng-autocomplete [disabled]="!emisorEnabled" [data]="emisor" [searchKeyword]="buscarEmisor"
                    placeholder="Emisor del Documento" (selected)='selectEvent($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" notFoundText="Sin Resultados">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>
            </div>


        </div>
        <!-- Fecha Documento -->
        <div class="row mt-3" style="display: flex; justify-content: center; align-items: center;">
            <div class="col-6">
                <div class="row form-group">
                    <div class="col-2">
                        <label for="fecha">Fecha Documento:</label>

                    </div>
                    <div class="col-8">
                        <input type="date" id="fecha" name="fecha" [(ngModel)]="documento.fecha" required>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row form-group">
                    <div class="col-2">
                        <mat-checkbox class="checkbox-emisor" [(ngModel)]="fechaAsuntoEnabled">Fecha
                            Asunto</mat-checkbox>

                    </div>
                    <div class="col-8">
                        <input type="date" [disabled]="!fechaAsuntoEnabled" id="fecha" name="fecha"
                            [(ngModel)]="documento.fecha" required>

                    </div>
                </div>
            </div>
        </div>

        <!-- Archivo -->
        <div class="row form-group">
            <div class="col-2">
                <label for="archivo">Archivo:</label>
            </div>
            <div class="col-10">
                <input type="file" id="archivo" name="archivo" accept="application/pdf">
            </div>
        </div>

        <!-- Observaciones -->
        <div class="form-group">
            <label for="observaciones">Observaciones:</label>
            <textarea id="observaciones" name="observaciones" [(ngModel)]="documento.observaciones"></textarea>
        </div>



        <!-- </form> -->
    </div>
    <div class="modal-footer">
        <!-- <button class="btn-submit" (click)="newReceptionOK(newReception,'new-reception')">Aceptar</button> -->
        <button mat-raised-button color="primary"
            (click)="newReceptionOK(newReception,'new-reception')">Aceptar</button>

    </div>
</ng-template>

<!-- Modal Seleccion de Asunto para asignación de TRD -->
<ng-template class="modal-trd" #newTRD let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: blac;">Nuevo Documento</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body document-form">
        <p>Asunto del Documento:</p>
        <div>
            <ng-autocomplete [data]="categorias" [searchKeyword]="buscarCategoriaTRD"
                placeholder="Remitente del Documento" (selected)='selectEventC($event)'
                (inputChanged)='onChangeSearchC($event)' (inputFocused)='onFocused($event)'
                [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" notFoundText="Sin Resultados">
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.name"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
        </div>
        <div style=" display: flex; justify-content: flex-end;">
            <button *ngIf="trd" mat-button color="primary"
                (click)="d('Cross click');open(newDocument,'new-document')">Siguiente</button>
        </div>
    </div>

</ng-template>

<!-- Modal Formulario Nuevo Documento -->
<ng-template class="modal-newDocument" #newDocument let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title" style="color: blue;">{{titleNewDocument}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body document-form">
        <div class="row form-group ">
            <div class="col-2" style="display: flex; align-items: center;">
                <label for="asasunto">Nombre del Responsable del Avance:</label>
            </div>

            <div class="col-10">
                <ng-autocomplete [data]="responsableAvance" [searchKeyword]="buscarResponsableAvance"
                    placeholder="Remitente del Documento" (selected)='selectEventResponsableAvance($event)'
                    (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)'
                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate" notFoundText="Sin Resultados">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                    <a [innerHTML]="item.name"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                    <div [innerHTML]="notFound"></div>
                </ng-template>

            </div>
        </div>

        <div class="row form-group ">
            <div class="col-6">
                <div class="col-2" style="display: flex; align-items: center;">
                    <label for="asasunto">Identificación:</label>
                </div>

                <div class="col-10">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Identificación</mat-label>
                        <input matInput placeholder="Identificación" #inputAsunto
                            [(ngModel)]="identificacionResponsableAvance">
                        <button *ngIf="identificacionResponsableAvance" matSuffix mat-icon-button aria-label="Borrar"
                            (click)="identificacionResponsableAvance=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                </div>

            </div>
            <div class="col-6">
                <div class="col-2" style="display: flex; align-items: center;">
                    <label for="asasunto">Expedición:</label>
                </div>

                <div class="col-10">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Expedición</mat-label>
                        <input matInput placeholder="Expedición" #inputAsunto [(ngModel)]="expedicionResponsableAvance">
                        <button *ngIf="expedicionResponsableAvance" matSuffix mat-icon-button aria-label="Borrar"
                            (click)="expedicionResponsableAvance=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                </div>
            </div>

        </div>


        <div class="row form-group ">
            <div class="col-6">
                <div class="col-2" style="display: flex; align-items: center;">
                    <label for="asasunto">E-mail:</label>
                </div>

                <div class="col-10">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Correo Electrónico</mat-label>
                        <input matInput placeholder="E-mail" #inputAsunto [(ngModel)]="correoResponsableAvance">
                        <button *ngIf="correoResponsableAvance" matSuffix mat-icon-button aria-label="Borrar"
                            (click)="correoResponsableAvance=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                </div>

            </div>
            <div class="col-6">
                <div class="col-2" style="display: flex; align-items: center;">
                    <label for="asasunto">Celular:</label>
                </div>

                <div class="col-10">
                    <mat-form-field class="example-form-field" appearance="fill">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Celular" #inputAsunto [(ngModel)]="celularResponsableAvance">
                        <button *ngIf="celularResponsableAvance" matSuffix mat-icon-button aria-label="Borrar"
                            (click)="celularResponsableAvance=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>

                </div>
            </div>

        </div>
        <div class="row form-group ">
            <div class="col-2" style="display: flex; align-items: center;">
                <label for="asasunto">Con Cargo a:</label>
            </div>

            <div class="col-10">
                <div class="row">
                    <div class="col-6">
                        <mat-checkbox class="checkbox-emisor" [(ngModel)]="funcionamientoAvance">Funcionamiento</mat-checkbox>           
                    </div>
                    <div class="col-6">
                        <mat-checkbox class="checkbox-emisor" [(ngModel)]="inversionAvance">Inversión</mat-checkbox>
                    </div>
                </div>
             



            </div>
        </div>
        <div class="row form-group ">
            <div class="col-2" style="display: flex; align-items: center;">
                <label for="asasunto">Concepto:</label>
            </div>

            <div class="col-10">
               
                <mat-form-field class="example-form-field" appearance="fill">
                    <mat-label>Concepto</mat-label>
                    <input matInput placeholder="Concepto" #inputAsunto [(ngModel)]="conceptoAvance">
                    <button *ngIf="conceptoAvance" matSuffix mat-icon-button aria-label="Borrar"
                        (click)="conceptoAvance=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

            </div>
        </div>

        <div class="form-group">
            <label for="observaciones">Observaciones:</label>
            <textarea id="observaciones" name="observaciones" [(ngModel)]="documento.observaciones"></textarea>
        </div>


    </div>
    <div class="modal-footer">
        <!-- <button class="btn-submit" (click)="newReceptionOK(newReception,'new-reception')">Aceptar</button> -->
        <button mat-raised-button color="primary"
            (click)="newReceptionOK(newReception,'new-reception')">Aceptar</button>

    </div>

</ng-template>

<!-- Modal de Confirmación de Creación de Nuevo Documento -->
<ng-template class="modal-ok" #aceptarForm let-c="close" let-d="dismiss">
    <div class="modal-ok">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Documento Creado</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
        </div>
        <div class="modal-body ">
            <h2>Oficio Creado con Éxito</h2>
            <h3>TRD: 7.1-52.5/321</h3>
            <h3>Fecha: </h3> <span class="green-text">{{fechaHora }}</span>
        </div>
        <p>Se ha Generado el Hilo de Envío Exitosamente</p>
    </div>
</ng-template>