<div class="" style="height: 5%; display: flex; align-items: center; justify-content: center;">
    <h4 class="text-uppercase" style="margin:0px;">Gestión de Eventos</h4>
</div>
<div class="row container-content">

    <div class="col-6 lateral-left p-0 ">
        <div class=" document-resume container-fluid">
            <section id="resume" class="p-2 mb-1">
                <div class="col ">
                    <p>Eventos</p>
                </div>
            </section>
            <section class="table-evento-doc pb-3" style="margin-bottom: 0px;">
                <div class="col-12">
                    <div class="card crd-reception">
                        <div class="card-content p-0">
                            <div class="card-body">
                                <div class="media d-flex">
                                    <div class="media-body text-right p-1" style="width: 100%;">
                                        <div class="">
                                            <div class="row header-search">
                                                <div class="col-8 ">
                                                    <mat-form-field class="example-form-field" appearance="fill">
                                                        <mat-label>Buscar Evento</mat-label>
                                                        <input matInput (keyup)="applyFilter($event)"
                                                            [(ngModel)]="terminoBusqueda" placeholder="Ingrese un Valor"
                                                            #input>
                                                        <button *ngIf="terminoBusqueda" matSuffix mat-icon-button
                                                            aria-label="Borrar" (click)="cleanSearchReception()">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                    </mat-form-field>
                                                </div>
                                                <div class="col-4">
                                                    <button mat-raised-button extended color="primary" style="top: 25%;"
                                                        (click)="openNuevoEvento()"
                                                        matTooltip="Info about the action">Nuevo Evento</button>
                                                </div>
                                            </div>
                                            <table mat-table [dataSource]="dataSource"
                                                class="mat-elevation-z8 table-evento demo-table"
                                                style="margin-top: 0px;" #tabla1>
                                                <ng-container matColumnDef="nombre">
                                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                                    <td [title]="evento.nombre" mat-cell *matCellDef="let evento">
                                                        {{evento.nombre}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="edicion">
                                                    <th mat-header-cell *matHeaderCellDef> Edición </th>
                                                    <td [title]="evento.edicion" mat-cell *matCellDef="let evento">
                                                        {{evento.edicion}}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="fecha">
                                                    <th mat-header-cell *matHeaderCellDef> Fecha</th>
                                                    <td [title]="evento.fechaInicio" mat-cell *matCellDef="let evento">
                                                        {{evento.fechaInicio}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="organizador">
                                                    <th mat-header-cell *matHeaderCellDef> Organizador </th>
                                                    <td [title]="evento.organizador[0].nombre" mat-cell
                                                        *matCellDef="let evento">
                                                        {{evento.organizador[0].nombre}} </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                                <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                            </table>
                                            <mat-paginator #paginator [pageSizeOptions]="[3]" showFirstLastButtons
                                                style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);"></mat-paginator>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="document-resume mt-4 container-fluid pb-3">
            <section id="resume" class="p-2 mb-1">
                <div class="col ">
                    <p>Detalles del Evento</p>
                </div>
            </section>
            <section class="evento-resumen">
                <div class="card crd-reception p-3">
                        <div class="row">
                            <h5>EVENTO</h5>
                            <div class="col-8">
                                <mat-form-field class="example-form-field">
                                    <mat-label>Nombre del Evento</mat-label>
                                    <input matInput placeholder="Evento" id="evento" name="evento" [(ngModel)]="evento.nombre"
                                        disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="example-form-field">
                                    <mat-label>Edición</mat-label>
                                    <input matInput type="number" placeholder="Número" id="edicion" name="edicion"
                                        [(ngModel)]="evento.edicion" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="example-form-field">
                                    <mat-label>Categoría</mat-label>
                                    <input matInput placeholder="Categoría" id="categoria" name="categoria"
                                        [(ngModel)]="evento.categoria" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
            
                            <div class="col-4">
                                <mat-form-field class="example-form-field">
                                    <mat-label>Lugar Realización</mat-label>
                                    <input matInput placeholder="Lugar" id="lugar" name="lugar" [(ngModel)]="evento.lugar" disabled>
                                </mat-form-field>
            
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-form-field"> <mat-label>Fecha</mat-label>
                                    <input matInput placeholder="Hora" id="fechaInicio" name="fechaInicio"
                                        [(ngModel)]="evento.fechaInicio" disabled>
                                    <mat-hint style="color: rgb(167, 164, 164) ;">MM/DD/AAAA</mat-hint>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <mat-form-field class="example-form-field"> <mat-label>Hora</mat-label>
                                    <input matInput placeholder="Hora" id="hora" name="hora" [(ngModel)]="evento.hora" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
            </section>
        </div>
    </div>
    <div class="col-6">

    </div>
</div>