.titulo{
  text-align: center;
}

.registro-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  form {
    text-align: left;

    .form-group {
      margin-bottom: 20px;

      input.form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
        font-size: 16px;
        color: #333;
      }

      button.btn {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        font-size: 18px;
        transition: background-color 0.2s;

        &:disabled {
          background-color: #ccc;
          cursor: not-allowed;
        }

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
