<div class="mt-1 document-resume container-fluid">
  <!-- <section id="resume" >
    <div class="col ">
    <h4 class="text-uppercase">Gestión Documental</h4>
    <p>Resumen</p>
  </div>
  </section> -->
  <section class="mt-2">
    <div class="row">
      <div class="col-xl-6 col-sm-5 col-md-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-book-open primary font-large-2"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{totalDocs}}</h3>
                  <span class="primary">Total</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-md-6 col-sm-5 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-docs info font-large-2"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{generatedDocs}}</h3>
                  <span class="info">Generados</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-sm-5 col-md-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-doc warning font-large-2"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{pendingDocs}}</h3>
                  <span class="warning">Pendientes</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-6 col-sm-5 col-md-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex">
                <div class="align-self-center">
                  <i class="icon-note success font-large-2"></i>
                </div>
                <div class="media-body text-right">
                  <h3>{{availableDocs}}</h3>
                  <span  class="success">Disponibles</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

</div>

