  <!-- Resumén Documental -->
  <div class="card crd mb-3">
    <div class="card-header card-header-document">Gestión Documental</div>
    <div class="row card-body text-primary">
      <div class="done col-4">
        <div class="circle-done">
          <span class="number">27</span>
        </div>
        <div class="title-done"><i class="far fa-file-alt"></i> Realizados</div>
      </div>
      <div class="todo col-4">
        <div class="circle-todo">
          <span class="number">4</span>
        </div>
        <div class="title-todo"><i class="far fa-file-alt"></i> Pendientes</div>
      </div>
      <div class="available col-4">
        <div class="circle-available">
          <span class="number">6</span>
        </div>
        <div class="title-available"><i class="far fa-file-alt"></i> Disponibles</div>
      </div>
    </div>
  </div>
