$document: rgb(64, 51, 182);
$event: rgb(228, 26, 38);
$place: rgb(0, 170, 229);
$budget: rgb(138, 194, 18);
$config: rgb(175, 175, 175);

$base-color: rgba(64, 51, 182, 0.164);
$mid-color: rgba(0, 0, 255, 0.164);
$light-color: rgb(255, 255, 255);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-size: 20px;

.logo-document {
  /* margin-top: 15%; */
  max-width: 50px;
  max-height: 50px;
}

.example-form-field {
  width: 100% !important;
  // height: 100% !important;
}

.example-full-width {
  width: 100% !important;
  height: 80% !important;
}

.file-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 36px;
  color: #007bff;
  /* Color del icono, puedes cambiarlo según tus preferencias */
}

.contenedor-input {
  width: 100%;
  height: auto;
  text-align: center;
  border: 1px gray solid;
  display: flex;
  justify-content: center;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.418);

}

.fisico {
  background-image: url('../../../assets/images/icon/correo-electronico.png');
  // min-height: 40px;
  // min-width: 40px;
  // max-height: 80px;
  // max-width: 80px;
  background-size: 90%;
  background-position: center;
}

.fecha-documento {
  background-image: url('../../../assets/images/icon/avatar\ \(1\).png');
  min-height: 40px;
  min-width: 40px;
  max-height: 80px;
  max-width: 80px;
  background-size: 100%;
  background-position: top;

}

.virtual {
  background-image: url('../../../assets/images/icon/mensajes.png');
  // min-height: 40px;
  // min-width: 40px;
  // max-height: 80px;
  // max-width: 80px;
  background-size: 90%;
  background-position: center;
}


.date {
  background-image: url('../../../assets/images/icon/fecha-tope.png');
  // min-height: 40px;
  // min-width: 40px;
  // max-height: 80px;
  // max-width: 80px;
  background-size: 90%;
  background-position: center;
}

.trd {
  // background-image: url('../../../assets/images/icon/fecha-tope.png');
  // min-height: 20px;
  // min-width: 20px;
  // max-height: 20px;
  // max-width: 20px;
  background-size: 50%;
  background-position: center;
}

.casa {
  width: 40px;
  /* Establece el ancho deseado para la imagen */
  // height: 40px;
  /* Permite que la altura se ajuste automáticamente */
  margin-right: 5px;
  /* Agrega margen a la derecha de la imagen para separarla del texto */
}

.form-field-wrapper {
  display: flex;
  /* Utiliza flexbox para alinear los elementos horizontalmente */
  align-items: center;
  /* Alinea verticalmente los elementos al centro */
}