<div mat-dialog-title>
    <div class="row">
        <div class="col-2">
            <img src="../../assets/images/icon/documentos_pendientes.png" alt="" class="logo-document">
        </div>
        <div class="col-8">
            <h1 id="modal-basic-title">Recepción de Documentos</h1>
        </div>
    </div>
</div>
<div mat-dialog-content>{{msg}}

    <form (ngSubmit)="nuevaRecepcion()" #recepcionForm="ngForm" style="width: 100%">

        <div class="row">
            <mat-label>Tipo</mat-label>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <mat-checkbox [(ngModel)]="fisico">
                            <mat-icon>description</mat-icon> <!-- Icono de documento -->
                        </mat-checkbox>
                    </div>
                    <div class="col-6">
                        <mat-checkbox color="primary" [(ngModel)]="virtual">

                            <mat-icon>computer</mat-icon>
                        </mat-checkbox>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <mat-form-field class="example-full-width">
                    <mat-label>Fecha del Documento</mat-label>
                    <input matInput [matDatepicker]="picker" [value]="fechaDocumento" id="fecha-documento"
                        name="fecha-documento" [(ngModel)]="fechaDocumento" required>
                    <mat-hint>MM/DD/AAAA</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onClickNO()">CANCELAR</button>
    <button mat-button [mat-dialog-close]="true" (click)="registrarDocumentoRecepcion()"
        [disabled]="!recepcionForm.valid">CREAR</button>
</div>