$document: rgb(64, 51, 182);
$event: rgb(228, 26, 38);
$place: rgb(0, 170, 229);
$budget: rgb(138, 194, 18);
$config: rgb(175, 175, 175);

$base-color: rgba(64, 51, 182, 0.164);
$mid-color: rgba(0, 0, 255, 0.164);
$light-color: rgb(255, 255, 255);

$shadow-color: rgba(0, 0, 0, 0.3);
$shadow-size: 20px;

.logo-document {
  /* margin-top: 15%; */
  max-width: 50px;
  max-height: 50px;
}

.example-form-field {
  width: 100% !important;
}

.example-full-width{
  width: 100% !important;
}

.file-selector {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon {
  font-size: 36px;
  color: #007bff; /* Color del icono, puedes cambiarlo según tus preferencias */
}
input[type="file"] {
  // display: none;
}