<div mat-dialog-title style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418)">
    <div class="row">
        <div class="col-2">
            <img src="../../assets/images/icon/documentos_pendientes.png" alt="" class="logo-document">
        </div>
        <div class="col-10">
            <h1 id="modal-basic-title">Recepción de Documentos</h1>
        </div>
    </div>

</div>
<div mat-dialog-content class="mt-3" style="height: 610px !important;">{{msg}}
    <div class="container" style=" height: 100% !important;width: 100% !important;">
        <form (ngSubmit)="nuevaRecepcion()" #recepcionForm="ngForm" style="width: 100%">
            <mat-tab-group style="width: 100% !important; height: 100% !important;" class="">
                <mat-tab label="Generalidades">
                    <div class="container" style="height:100%; overflow: auto;">
                        <div class="row" style="width: 100%; ">
                            <div class="col-6 ">
                                <div class="row pt-3  ">
                                    <div class="col-6">
                                        <mat-checkbox [(ngModel)]="recepcion.fisico" name="fisico">
                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                <mat-icon class="fisico"></mat-icon>
                                            </div>
                                            <div style="display: flex; align-items: center; justify-content: center;">

                                            </div>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6">
                                        <mat-checkbox color="primary" name="virtual" [(ngModel)]="recepcion.virtual">
                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                <mat-icon class="virtual"></mat-icon>
                                            </div>
                                            <div style="display: flex; align-items: center; justify-content: center;">
                                                <mat-label>Digital</mat-label>
                                            </div>
                                        </mat-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6  form-field-wrapper">
                                <mat-icon class="fecha-documento"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label> Fecha del Documento</mat-label>
                                    <input matInput [matDatepicker]="picker" [value]="fechaDocumento"
                                        id="fecha-documento" name="fecha-documento" [(ngModel)]="fechaDocumento"
                                        required>
                                    <mat-hint>MM/DD/AAAA</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row " style="width: 100%;">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="remitente"></mat-icon>
                                <mat-form-field class="example-full-width mt-3">
                                    <mat-label>Remitente</mat-label>
                                    <input type="text" name="remitente" placeholder="Escriba un Nombre"
                                        aria-label="Nombre del Remitente" matInput [formControl]="myControl"
                                        [matAutocomplete]="auto" required>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                                <div class="m-3">
                                    <button mat-mini-fab color="primary" aria-label="Add Person">
                                        <mat-icon>perm_identity</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row " style="width: 100%;">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="asunto"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Asunto</mat-label>
                                    <input matInput placeholder="Asunto del Documento" name="asunto"
                                        [value]="recepcion.asunto" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row " style="width: 100%;">
                            <div class="col-6  form-field-wrapper">
                                <mat-icon class="fecha_realizacion"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">

                                    <mat-label>Fecha de Realización</mat-label>
                                    <input matInput [matDatepicker]="pickerR" [value]="fechaRealizacion"
                                        id="fecha-realizacion" name="fecha-realizacion" [(ngModel)]="fechaRealizacion"
                                        required>
                                    <mat-hint>MM/DD/AAAA</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="pickerR"></mat-datepicker-toggle>
                                    <mat-datepicker #pickerR></mat-datepicker>

                                </mat-form-field>
                            </div>
                            <div class="col-6  form-field-wrapper">
                                <mat-icon class="tipo-documento"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Tipo Solicitud</mat-label>
                                    <mat-select [formControl]="oficioRecepcionControl" required
                                        (selectionChange)="onSelectionChange()" multiple>
                                        <!-- <mat-option>--</mat-option> -->
                                        <mat-option *ngFor="let oficio of oficios" [value]="oficio">{{ oficio.tipo
                                            }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="oficioRecepcionControl.hasError('required')">Por favor, elija un
                                        tipo de solicitud</mat-error>
                                    <!-- <mat-hint>
                                            {{ oficioRecepcionControl.value && oficioRecepcionControl.value.length > 0 ? oficioRecepcionControl.value[0].tipo : '' }}
                                          </mat-hint> -->
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <div class="row mt-2" style="width: 100%">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="file"></mat-icon>
                                <input required style="font-size: smaller;" type="file"
                                    (change)="onFileSelected($event)" accept=".pdf" />
                                <span style="font-size: smaller;" *ngIf="selectedFile">Archivo seleccionado: {{
                                    selectedFile.name }}</span>
                            </div>
                        </div> -->
                        <div class="row" *ngIf="mostrarApoyoEconomico" style="width: 100%;">
                            <div class="col-6 form-field-wrapper">
                                <mat-icon class="valor"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Apoyo Económico</mat-label>
                                    <input matInput type="text" name="valorSolicitud" id="valorNumerico"
                                        [(ngModel)]="numeroEntrada" (input)="formatearNumero()"
                                        placeholder="Ingrese un número" required>
                                </mat-form-field>
                            </div>
                            <div class="col-6 form-field-wrapper">
                                <mat-icon class="destino-apoyo"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Destino</mat-label>
                                    <input matInput type="text" name="destino-apoyo" id="destino-apoyo"
                                        [(ngModel)]="destinoApoyo" placeholder="Destino del Apoyo" required>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="mostrarSonido" style="width: 100%;">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="detalles-sonido"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Sonido</mat-label>
                                    <textarea matInput placeholder="Detalles Sonido Requerido"
                                        [(ngModel)]="detallesSonido"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="mostrarRefrigerios" style="width: 100%;">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="detalles-refrigerio"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Refrigerios</mat-label>
                                    <textarea matInput placeholder="Detalles Refrigerio Requerido"
                                        [(ngModel)]="detallesRefrigerio"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="mostrarSouvenirs" style="width: 100%;">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="detalles-souvenir"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Sovenirs</mat-label>
                                    <textarea matInput placeholder="Detalles Souvenir Requerido"
                                        [(ngModel)]="detallesSoivenir"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" *ngIf="mostrarEspaciosFisicos" style="width: 100%;">
                            <div class="col-6  form-field-wrapper">
                                <mat-icon class="espacios"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Espacio</mat-label>
                                    <mat-select [formControl]="oficioEspaciosControl" required
                                        (selectionChange)="onSelectionChange()" multiple>
                                        <!-- <mat-option>--</mat-option> -->
                                        <mat-option *ngFor="let espacio of espacios" [value]="espacio">{{ espacio.nombre
                                            }}</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="oficioRecepcionControl.hasError('required')">Por favor, elija un
                                        tipo de solicitud</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Tiquetes" *ngIf="mostrarTransporteAereo">
                    <div class="container mt-3">
                        <div class="row header-search" style="width: 100%;">
                            <div class="col-8 form-field-wrapper">
                                <mat-icon class="viaje"></mat-icon>
                                <mat-form-field class="example-form-field mt-2" appearance="fill">
                                    <mat-label>Buscar Lista de Viajeros</mat-label>
                                    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="terminoBusquedaViajero"
                                        placeholder="Ingrese un Valor" name="valor-busqueda-viajero" #input>
                                    <button *ngIf="terminoBusquedaViajero" matSuffix mat-icon-button aria-label="Borrar"
                                        (click)="cleanSearchTiqutes()" name="eliminar-contenido-viajero">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                            <div class="col-4">
                                <button mat-raised-button extended color="primary" style="top: 25%; width: 100%;"
                                    (click)="openModalViajero()" matTooltip="Info about the action"
                                    name="nuevo-viajero">Nuevo
                                    Viajero</button>
                            </div>
                        </div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-reception demo-table"
                            style="margin-top: 0px;" #tabla1>
                            <ng-container matColumnDef="solicitante">
                                <th mat-header-cell *matHeaderCellDef> Solicitante </th>
                                <td [title]="viajero" mat-cell *matCellDef="let viajero">
                                    viajero </td>
                            </ng-container>
                            <ng-container matColumnDef="fechaSalida">
                                <th mat-header-cell *matHeaderCellDef> Fecha Salida </th>
                                <td [title]="viaje.fechaSalida" mat-cell *matCellDef="let viaje">
                                    {{viaje.fechaSalida}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="horaSalida">
                                <th mat-header-cell *matHeaderCellDef>Hora Salida </th>
                                <td [title]="viaje.horaSalida" mat-cell *matCellDef="let viaje">
                                    {{viaje.horaSalida}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ciudadDestino">
                                <th mat-header-cell *matHeaderCellDef> Ciudad Destino </th>
                                <td [title]="viaje.ciudadDestino" mat-cell *matCellDef="let viaje">
                                    {{viaje.ciudadDestino}} </td>
                            </ng-container>
                            <ng-container matColumnDef="fechaRegreso">
                                <th mat-header-cell *matHeaderCellDef> Fecha Regreso </th>
                                <td [title]="viaje.fechaRegreso" mat-cell *matCellDef="let viaje">
                                    {{viaje.fechaRegreso}} </td>
                            </ng-container>
                            <ng-container matColumnDef="horaRegreso">
                                <th mat-header-cell *matHeaderCellDef> Hora Regreso </th>
                                <td [title]="viaje.horaRegreso" mat-cell *matCellDef="let viaje">
                                    {{viaje.horaRegreso}} </td>
                            </ng-container>
                            <ng-container matColumnDef="ciudadRegreso">
                                <th mat-header-cell *matHeaderCellDef> Ciudad Retorno </th>
                                <td [title]="viaje.ciudadRegreso" mat-cell *matCellDef="let viaje">
                                    {{viaje.ciudadRegreso}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                        </table>
                    </div>
                </mat-tab>
                <mat-tab label="Vehículo" *ngIf="mostrarTransporteTerrestre">
                    <div class="container" style="height: 100% !important; overflow: auto;">
                        <div class="row" style="width: 100%;">
                            <div class="col-6 form-field-wrapper">
                                <mat-icon class="responsable-vehiculo"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Responsable Viaje</mat-label>
                                    <input matInput type="text" name="ciudad-origen-vehiculo"
                                        id="ciudad-origen-vehiculo" [(ngModel)]="responsableViaje"
                                        placeholder="Escriba el Nombre" required>
                                </mat-form-field>
                                <div class="m-3" aling="end">
                                    <button mat-mini-fab color="primary" aria-label="Add Person">
                                        <mat-icon>perm_identity</mat-icon>
                                    </button>
                                </div>
                            </div>
                            <div class="col-6 form-field-wrapper">
                                <mat-icon class="dependencia-solicitante"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Dependencia Solicitante</mat-label>
                                    <input matInput type="text" name="dependencia-solicitante"
                                        id="dependencia-solicitante" [(ngModel)]="dependenciaSolicitante"
                                        placeholder="Escriba el Nombre">
                                </mat-form-field>
                                <div class="m-3">
                                    <button mat-mini-fab color="warn" aria-label="Add Person">
                                        <mat-icon>account_balance</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="row" style="width: 100%;">
                            <div class="col-6">
                                <div class=" form-field-wrapper">
                                    <mat-icon class="origen"></mat-icon>
                                    <mat-form-field class="example-full-width mt-2">
                                        <mat-label>Ciudad de Origen</mat-label>
                                        <input matInput type="text" name="destino-apoyo" id="destino-apoyo"
                                            [(ngModel)]="ciudadOrigen" placeholder="Escriba la Ciudad" required>

                                    </mat-form-field>
                                </div>
                                <div class="form-field-wrapper">
                                    <mat-icon class="lugar-recogida"></mat-icon>
                                    <mat-form-field class="example-full-width mt-2">
                                        <mat-label>Lugar Recogida Origen</mat-label>
                                        <input matInput type="text" name="lugar-recogida" id="lugar-recogida
                                        " [(ngModel)]="lugarRecogidaIda" placeholder="Lugar Exacto" required>
                                    </mat-form-field>

                                </div>
                                <div class="form-field-wrapper">
                                    <mat-icon class="calendario"></mat-icon>
                                    <mat-form-field class="example-full-width mt-2">
                                        <mat-label> Fecha Salida</mat-label>
                                        <input matInput [matDatepicker]="pickerSalidaTerrestre"
                                            [value]="fechaSalidaTerrestre" id="fecha-salida-terrestre"
                                            name="fecha-salida-terrestre" [(ngModel)]="fechaSalidaTerrestre" required>
                                        <mat-hint>MM/DD/AAAA</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix
                                            [for]="pickerSalidaTerrestre"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerSalidaTerrestre></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div class="form-field-wrapper">
                                    <div class="row mt-2" style="width: 100%;">
                                        <div class="col-4" align="start">
                                            <mat-icon class="reloj"></mat-icon>
                                        </div>
                                        <div class="col-8">
                                            <input type="time" placeholder="Hora de Salida" class="hora-inicio"
                                                id="hora" name="hora" [(ngModel)]="selectedTimeSalidaTerrestre"
                                                (change)="onTimeChangeSalidaTerrestre($event)">
                                        </div>
                                        <div align="end">
                                            <!-- <mat-label> Hora Salida</mat-label> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class=" form-field-wrapper">
                                    <mat-icon class="destino"></mat-icon>
                                    <mat-form-field class="example-full-width mt-2">
                                        <mat-label>Ciudad de Destino</mat-label>
                                        <input matInput type="text" name="destino-ciudad" id="destino-ciudad"
                                            [(ngModel)]="ciudadDestino" placeholder="Escriba la Ciudad" required>
                                    </mat-form-field>
                                </div>
                                <div class=" form-field-wrapper ">
                                    <mat-icon class="lugar-recogida2"></mat-icon>
                                    <mat-form-field class="example-full-width mt-2">
                                        <mat-label>Lugar Recogida Regreso</mat-label>
                                        <input matInput type="text" name="lugar-recogida2" id="lugar-recogida2"
                                            [(ngModel)]="lugarRecogidaIda" placeholder="Lugar Exacto" required>
                                    </mat-form-field>

                                </div>
                                <div class=" form-field-wrapper">
                                    <mat-icon class="calendario2 "></mat-icon>
                                    <mat-form-field class="example-full-width mt-2">
                                        <mat-label> Fecha Regreso</mat-label>
                                        <input matInput [matDatepicker]="pickerRegresoTerrestre"
                                            [value]="fechaRegresoTerrestre" id="fecha-regreso-terrestre"
                                            name="fecha-regreso-terrestre" [(ngModel)]="fechaRegresoTerrestre" required>
                                        <mat-hint>MM/DD/AAAA</mat-hint>
                                        <mat-datepicker-toggle matIconSuffix
                                            [for]="pickerRegresoTerrestre"></mat-datepicker-toggle>
                                        <mat-datepicker #pickerRegresoTerrestre></mat-datepicker>
                                    </mat-form-field>
                                </div>
                                <div>
                                    <div class="row mt-2" style="width: 100%;">
                                        <div class="col-4" align="">
                                            <mat-icon class="reloj2"></mat-icon>
                                        </div>
                                        <div class="col-8">
                                            <input type="time" placeholder="Hora de Salida" class="hora-inicio"
                                                id="hora" name="hora" [(ngModel)]="selectedTimeRegreso"
                                                (change)="onTimeChangeRegresoTerrestre($event)">
                                        </div>
                                        <div align="end">
                                            <!-- <mat-label> Hora Salida</mat-label> -->
                                        </div>
                                    </div>
                                </div>
                                <!-- seleccion-roles.component.html -->

                            </div>
                        </div>
                        <mat-divider class="mt-2"></mat-divider>
                        <div class="row pt-3">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-checkbox [(ngModel)]="docentesSelected" name="docente" (change)="resetNumeroViajerosTerrestres()">
                                            <mat-label>Docentes</mat-label>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6">
                                        <div *ngIf="docentesSelected">
                                            <input (input)="sumaViajerosTerrestres()" matInput type="number" class="numeros" name="numero-docentes"
                                                [(ngModel)]="numeroDocentes" placeholder="Número de Docentes">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-checkbox [(ngModel)]="estudiantesSelected" name="estudiantes" (change)="resetNumeroViajerosTerrestres()">
                                            <mat-label>Estudiantes</mat-label>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6">
                                        <div *ngIf="estudiantesSelected">
                                            <input (input)="sumaViajerosTerrestres()" matInput type="number" name="numero-estudiantes" class="numeros"
                                                [(ngModel)]="numeroEstudiantes" placeholder="Número de Estudiantes">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-8">
                                        <mat-checkbox [(ngModel)]="administrativosSelected"
                                            name="administrativos" (change)="resetNumeroViajerosTerrestres()">
                                            <mat-label>Administrativos</mat-label>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-4">
                                        <div *ngIf="administrativosSelected">
                                            <input (input)="sumaViajerosTerrestres()" matInput type="number" class="numeros" name="numero-administrativos"
                                                [(ngModel)]="numeroAdministrativos">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-checkbox [(ngModel)]="contratistasSelected" (change)="resetNumeroViajerosTerrestres()" name="contratistas">
                                            <mat-label>Contratistas</mat-label>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6" *ngIf="contratistasSelected">
                                        <input (input)="sumaViajerosTerrestres()" type="number" class="numeros" name="numero-contratistas"
                                            [(ngModel)]="numeroContratistas">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-checkbox [(ngModel)]="visitantesSelected" (change)="resetNumeroViajerosTerrestres()" name="visitantes">
                                            <mat-label>Visitantes</mat-label>
                                        </mat-checkbox>
                                    </div>
                                    <div class="col-6" *ngIf="visitantesSelected">
                                        <input (input)="sumaViajerosTerrestres()" type="number" class="numeros" name="numero-visitantes"
                                            [(ngModel)]="numeroVisitantes" placeholder="Número de Visitantes">
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="row">
                                    <div class="col-6">
                                        <mat-label>Visitantes</mat-label>
                                            
                                    </div>
                                    <div class="col-6">
                                        <input  type="number" class="numeros" name="numero-visitantes" readonly
                                            [value]="totalViajerosTerrestres" placeholder="Número de Visitantes">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Detalles">
                    <div class="container" style="height: 410px; overflow: auto;">
                        <div class="row " style="width: 100%;">
                            <div class="col-6 form-field-wrapper">
                                <mat-icon class="trd"></mat-icon>
                                <mat-form-field class="example-full-width mt-3">
                                    <mat-label>TRD</mat-label>
                                    <input matInput placeholder="TRD Recepción" name="trd" [value]="recepcion.trd">
                                </mat-form-field>
                            </div>
                            <div class="col-6 form-field-wrapper">
                                <mat-icon class="vu"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Venitanilla Única</mat-label>
                                    <input matInput placeholder="V.U." name="vu" [value]="recepcion.ventanillaUnica">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row" style="width: 100%;">
                            <div class="col-12 form-field-wrapper">
                                <mat-icon class="emisor"></mat-icon>
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Emisor</mat-label>
                                    <input type="text" name="emisor" placeholder="Escriba un Nombre"
                                        aria-label="Nombre del Emisor" matInput [formControl]="myControl2"
                                        [matAutocomplete]="autoEmisor">
                                    <mat-autocomplete #autoEmisor="matAutocomplete">
                                        <mat-option *ngFor="let option of filteredOptionsEmisor | async"
                                            [value]="option">
                                            {{option}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Anotaciones">
                    <div class="container mt-4" style="height: 387px; overflow: auto;">
                        <div class="row" style="width: 100%">
                            <div class="col-12 form-field-wrapper">
                                <mat-form-field class="example-full-width mt-2">
                                    <mat-label>Anotaciones para este Documento</mat-label>
                                    <textarea matInput placeholder="Notas"></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </form>
    </div>
</div>
<div mat-dialog-actions align="end">
    <button mat-raised-button (click)="onClickNO()" color="accent">CANCELAR</button>
    <button mat-raised-button [mat-dialog-close]="true" (click)="enviarDocumento()" color="primary">ACEPTAR</button>
    <!-- [disabled]="!recepcionForm.valid">CREAR</button> -->
</div>