.example-full-width{
    width: 100%;
}

.intpus-mayusculas{
    text-transform: uppercase;
}

.intpus-minusculas{
    text-transform: lowercase;
}
.logo-evento {
    max-width: 50px;
    max-height: 50px;
}
