.example-full-width {
    width: 100%;
    input {
      color: rgb(59, 42, 42);
      font-weight: 450;
    }
  
  }

.form-field-wrapper {
    display: flex;
    align-items: center;
}

.intpus-mayusculas {
    text-transform: uppercase;
}

.select-rc{
    color: rgb(59, 42, 42);
    font-weight: 450; 
}

.intpus-minusculas {
    text-transform: lowercase;
}

.logo-evento {
    max-width: 50px;
    max-height: 50px;
}

.tipo-documento {
    background-image: url('../../../assets/images/icon/licencia.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.numero-documento {
    background-image: url('../../../assets/images/icon/tarjetas-de-identificacion.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.nombre {
    background-image: url('../../../assets/images/icon/hombre_uno.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.apellido {
    background-image: url('../../../assets/images/icon/hombre_dos.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.genero {
    background-image: url('../../../assets/images/icon/fluido-de-genero.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.cumpleaños {
    background-image: url('../../../assets/images/icon/calendario_cumpleaños.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.email {
    background-image: url('../../../assets/images/icon/email.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.direccion {
    background-image: url('../../../assets/images/icon/direccion.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.celular {
    background-image: url('../../../assets/images/icon/celular.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.tipo-institucion {
    background-image: url('../../../assets/images/icon/institucion.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.institucion {
    background-image: url('../../../assets/images/icon/universidad.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.facultad {
    background-image: url('../../../assets/images/icon/facultad.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}

.programa {
    background-image: url('../../../assets/images/icon/plan-de-estudios.png');
    min-height: 35px;
    min-width: 35px;
    max-height: 35px;
    max-width: 35px;
    background-size: 100%;
    margin-right: 10px !important;
    background-position: center;
}