<div mat-dialog-title class="encabezado" style="box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);">
    <div class="row">
        <div class="col-2">
            <img src="../../assets/images/icon/registro_asistencia.png" alt="" class="logo-evento">
        </div>
        <div class="col-8">
            <h2 id="modal-basic-title">REGISTRAR ASISTENTE</h2>
        </div>
    </div>
</div>
<div mat-dialog-content>{{msg}}</div>
<div class="contenedor container-fluid"
    style="display: flex; align-items: center;justify-content: center; height: auto;">
    <div class="login">
        <form (ngSubmit)="registrarAsistente()" #registroForm="ngForm" id="registro_asistencia">
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tipo de Documento</mat-label>
                        <mat-select id="tipo-documento" name="tipo-documento" [(ngModel)]="asistente.tipoDocumento"
                            required>
                            <mat-option value="cedula">Cédula de Ciudadanía</mat-option>
                            <mat-option value="tarjeta">Tarjeta de Identidad</mat-option>
                            <mat-option value="cedula-extranjera">Cédula Extranjera</mat-option>
                            <mat-option value="pasaporte">Pasaporte</mat-option>
                            <mat-option value="dni">DNI</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Número de Documento</mat-label>
                        <input matInput placeholder="Número" id="numero-documento" name="numero-documento"
                            (keydown.enter)="onEnter($event)" [(ngModel)]="documento"
                            (ngModelChange)="checkNumeroDocumento()" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombres</mat-label>
                        <input matInput placeholder="Nombres" id="nombre" name="nombre" class="intpus-mayusculas" [(ngModel)]="nombreCompleto"
                            required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Apellidos</mat-label>
                        <input matInput placeholder="Apellidos" id="apellido"  class="intpus-mayusculas" name="apellido"
                            [(ngModel)]="apellidoCompleto" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Género</mat-label>
                        <mat-select id="genero" name="genero" [(ngModel)]="asistente.genero" required>
                            <mat-option value="M">Masculino</mat-option>
                            <mat-option value="F">Femenino</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Fecha de Nacimiento</mat-label>
                        <input matInput [matDatepicker]="picker" [value]="fechaFormadetaNacimiento"
                            id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="fechaFormadetaNacimiento"
                            required>
                        <mat-hint>MM/DD/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ej. alguien@unicauca.edu.co" id="email" name="email" class="intpus-minusculas"
                            [(ngModel)]="asistente.emailPersonal">
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Por favor, ingrese una correo válido
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Correo es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Dirección</mat-label>
                        <input matInput placeholder="Ciudad, Procedencia, Dirección" id="direccion" class="intpus-mayusculas" name="direccion"
                            [(ngModel)]="asistente.direccion" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Celular</mat-label>
                        <input matInput placeholder="Número" id="celular" name="celular"
                            [(ngModel)]="asistente.telefono" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Tipo Institución</mat-label>
                        <mat-select id="tipo-institucion" name="tipo-institucion" [(ngModel)]="institucion"
                            (ngModelChange)="institucionControl()" required>
                            <mat-option value="ninguna">Niunguna</mat-option>
                            <mat-option value="universidad">Universidad</mat-option>
                            <mat-option value="colegio">Colegio - I.E.</mat-option>
                            <mat-option value="tecnico">Técnico o Tecnólogo</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-6" *ngIf="controlInstitucion">
                    <mat-form-field class="example-full-width">
                        <mat-label>Institución</mat-label>
                        <input matInput placeholder="institucion" id="institucion" name="institucion" class="intpus-mayusculas"
                            [(ngModel)]="asistente.institucion" required>
                    </mat-form-field>
                </div>
                <div class="col-6" *ngIf="controlColegio">
                    <mat-form-field class="example-full-width">
                        <mat-label>Colegio</mat-label>
                        <input matInput placeholder="institucion" id="institucion" name="institucion" class="intpus-mayusculas"
                            [(ngModel)]="asistente.institucion" required>
                    </mat-form-field>
                </div>
            </div>
            <div class="row" *ngIf="controlInstitucion">
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Programa</mat-label>
                        <input matInput placeholder="Programa" id="programa" name="programa" class="intpus-mayusculas"
                            [(ngModel)]="asistente.programa" required>
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field class="example-full-width">
                        <mat-label>Facultad</mat-label>
                        <input matInput placeholder="Facultad" id="facultad" name="facultad" class="intpus-mayusculas"
                            [(ngModel)]="asistente.facultad">
                    </mat-form-field>
                </div>
            </div>
            <!-- <div style="display: flex; align-items:end; justify-content: end; margin-top: 10px;">
                <button type="submit" class="btn btn-primary btn-block" [disabled]="!registroForm.valid">REGISTRAR
                </button> -->
            <!-- -->
            <!-- </div> -->
        </form>
    </div>
</div>
<div mat-dialog-actions style="justify-content: end;margin-right: 15px;">
    <button mat-button style="margin-right: 15px;background-color:red;color: aliceblue;"
        (click)="onClickNO()">CANCELAR</button>
    <button mat-button class="btn btn-primary btn-block" style="background-color:blue;color: aliceblue;"
        (click)=" confirmarRegistro()" [disabled]="!registroForm.valid">REGISTRAR</button>
</div>