<!-- Container principal Dividido en dos Secciones (Izq/Der) -->
<div class="row container-content">
    <div class="col col-5 lateral-left">
        <app-document-panel></app-document-panel>
        <div class="row">
            <div class="col col-6">
                <app-event-panel></app-event-panel>
            </div>
            <div class="col col-6"></div>
        </div>
    </div>
    <div class="col col-5 lateral-right">
        
      <div>
        <canvasjs-chart [options]="chartOptions"></canvasjs-chart>    
      </div>

        
    </div>
</div>
