.container-content {
  // background-color: red;
  display: flex;
  margin: 10px;
  // padding-left: 10px;
  justify-content: center;
  // width: 100vw;
   min-width: 1890px !important;
  height: 87vh;
  // min-height: 818px !important;
}


// .columnas{
//   background-color: blue;
// }

.lateral-left {

  padding-top: 15px;
  padding-right: 30px !important;
  // width:30px !important;
  // min-width: 730px !important;
  // max-width: 730px !important;
  // background-color: #45CE30;
}

.lateral-right {
  padding-top: 15px;
  // width: 20px !important;
  // padding-left: 260px !important;


  // background-color: aqua;
}

.doc-container {
  // background-color: coral;
}

.ev-container {
  // background-color: darkcyan;
}