<!-- Container principal Dividido en dos Secciones (Izq/Der) -->
<div class="row container-content">
  <!-- Lado Izquierdo -->
  <div class="col-5 lateral-left">
    <div class="doc-container">
      <app-document-panel></app-document-panel>
    </div>

    <div>
      <app-event-panel></app-event-panel>
    </div>

  </div>
  <!-- Lado Derecho -->
  <div class="col col-6 lateral-right">
    <app-budget-panel></app-budget-panel>
    <div class="col-12">
      <app-place-panel></app-place-panel>
    </div>
  </div>
</div>