.container-content{
    /* background-color: red; */
    display: flex;
    padding-left: 150px;
    /* justify-content: center; */
    width: 100vw;
    height: 87vh;
  }
  
  
  .lateral-left{
    padding-top: 15px;
    /* width: 400px; */
    /* background-color: #45CE30; */
  }
  
  .lateral-right{
    /* background-color: aqua; */
  }