.container-content{
    //  background-color: red; 
    display: flex;
    padding-left: 120px;
    //  justify-content: center; 
    width: 100vw;
    height: 87vh;
  }
  
  .lateral-left{
    padding-top: 15px;
    /* width: 400px; */
    //  background-color: #45CE30;    
  }
  
  .lateral-right{
    padding-top: 15px;
    padding-left: 30px;
    //  background-color: aqua; 
  }

.doc-container{
  // background-color: coral;
}

.ev-container{
  // background-color: darkcyan;
}