<div class="login_panel">
    <div class="screen">
        <div class="screen_content">
            <div class="logo_vcb_header">
                <span class="logo"></span>
            </div>
            <form class="login">
                <h2>Inciar sesión</h2>
                <div class="login_field">
                    <i class="login_icon fas fa-user"></i>
                    <input type="text" class="login_input" placeholder="Usuario">
                </div>
                <div class="login_field">
                    <i class="login_icon fas fa-lock"></i>
                    <input type="password" class="login_input" placeholder="Contraseña">
                </div>
                <button class="button login_submit">
                    <span class="button_text">Ingresar</span>
                    <i class="button_icon fas fa-chevron-right"></i>
                </button>
            </form>
            <div class="social_login">
                <!-- <h3>Integral</h3> -->
                <div class="logo_vcb">
                    <span class="logo"></span>
                </div>
            </div>
        </div>
        <div class="screen_background">
            <span class="screen_background_shape screen_background_shape4"></span>
            <span class="screen_background_shape screen_background_shape3"></span>
            <span class="screen_background_shape screen_background_shape2"></span>
            <span class="screen_background_shape screen_background_shape1"></span>
        </div>
    </div>
</div>
<footer></footer>