<div class="main_page">
	<header *ngIf="false">
		<div class="row">
			<div class="col col-11 logo">
			</div>
			<div class="col button col-1">
				<div class="dropdown">
					<button mat-mini-fab color="accent" id="dropdownMenuButton" aria-label="Usuario"
						aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
						<mat-icon>account_circle</mat-icon>
					</button>
					<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> Cuenta</a>
						<a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> Supervisiorías</a>
						<a class="dropdown-item" href="#" (click)="logOut()"><i class="fa fa-sign-out"></i>Cerrar
							sesión</a>
					</div>
				</div>

			</div>
		</div>
	</header>


	<div class="registro" *ngIf="false">
		<app-registro-usuario></app-registro-usuario>
	</div>

	<!-- <div>
		<app-feria></app-feria>
	</div> -->


	<div class="evento" *ngIf="false">
		<app-event-module></app-event-module>
	</div>


	<div class="login" *ngIf="!logged">
		<app-login-panel (usuarioLoggeado)=processLogin($event)></app-login-panel>
	</div>


	<div class="home-main" *ngIf="logged">
		<app-home-page class="home"></app-home-page>
	</div>


	<footer>Vicerrectoría de Cultura y Bienestar | Universidad del Cauca | {{ getCurrentYear() }} ©</footer>

</div>