<div class="main_page">
	<header>
		<div class="row">
			<div class="col col-11 logo">
			</div>
			<div class="col button col-1">
				<div class="dropdown">
					<button mat-mini-fab color="accent" id="dropdownMenuButton" aria-label="Usuario"
						aria-haspopup="true" aria-expanded="false" data-bs-toggle="dropdown">
						<mat-icon>account_circle</mat-icon>
					</button>
					<div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> Cuenta</a>
						<a class="dropdown-item" href="#"><i class="fa fa-user-circle"></i> Supervisiorías</a>
						<a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i>Cerrar sesión</a>
					</div>
				</div>

			</div>
		</div>
	</header> 



<!-- 	<div class="login">
		<app-login-panel></app-login-panel>
	</div>-->




 <div class="main">
		<app-home-page></app-home-page>
	</div>
	<footer>Vicerrectoría de Cultura y Bienestar | Universidad del Cauca | {{ getCurrentYear() }} ©</footer> 

</div>