<div class="padre container-content">
    <div class="row mt-2" style="height: 20%; width: 100%;   box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);">
        <div class="col-3">
            <div class="header-registro" style="margin: 10px;">
                <div class="logo_vcb_header">
                    <span class="logo"></span>
                </div>
            </div>

        </div>
        <div class="col-9">
            <div class="row p-2">

                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Nombre del Evento</mat-label>
                        <input matInput placeholder="Evento" id="evento" name="evento" [(ngModel)]="evento.nombre"
                            disabled>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Edición</mat-label>
                        <input matInput type="number" placeholder="Número" id="edicion" name="edicion"
                            [(ngModel)]="evento.edicion" disabled>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Categoría</mat-label>
                        <input matInput placeholder="Categoría" id="categoria" name="categoria"
                            [(ngModel)]="evento.categoria" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">

                <div class="col-4">
                    <mat-form-field class="example-full-width">
                        <mat-label>Lugar Realización</mat-label>
                        <input matInput placeholder="Lugar" id="lugar" name="lugar" [(ngModel)]="evento.lugar" disabled>
                    </mat-form-field>

                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width"> <mat-label>Fecha</mat-label>
                        <input matInput placeholder="Fecha" id="fechaInicio" name="fechaInicio"
                            [(ngModel)]="evento.fechaInicio" disabled>
                        <mat-hint>dd/mm/aaaa</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width"> <mat-label>Hora</mat-label>
                        <input matInput placeholder="Hora" id="hora" name="hora" [(ngModel)]="evento.horaInicio"
                            disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="actividadesActivas" style="padding: 0px; height: 75%;width: 100%;">
        <div class="col-6 mt-3" style="height: 80%;    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);">
            <div class="contenedor mt-3" style="margin-left: 0px; height: 100%;">
                <div class="login">
                    <h2>GESTIÓN DE EVENTOS</h2>
                    <h5>DETALLES ACTIVIDAD</h5>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="example-full-width">
                                <mat-label>Actividad</mat-label>
                                <input matInput placeholder="Actividad" id="evento" name="evento"
                                    [(ngModel)]="evento.actividades[0].nombre" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Categoría</mat-label>
                                <input matInput placeholder="Categoría" id="categoria" name="categoria"
                                    [(ngModel)]="evento.actividades[0].tipo" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6" *ngIf="evento.actividades[0].invitados">
                            <mat-form-field class="example-full-width">
                                <mat-label>Invitado</mat-label>
                                <input matInput placeholder="Responsable" id="responsable" name="responsable"
                                    [(ngModel)]="invitados" disabled>
                                    <!-- evento.actividades[0].invitados[0].nombre -->
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Lugar Realización</mat-label>
                                <input matInput placeholder="Lugar" id="lugar" name="lugar"
                                    [(ngModel)]="evento.actividades[0].lugar" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Fecha</mat-label>
                                <input matInput placeholder="Fecha de Inicio" id="fechaInicio" name="fechaInicio"
                                    [(ngModel)]="evento.actividades[0].fechaInicio" disabled>
                                <mat-hint>dd/mm/aaaa</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field class="example-full-width">
                                <mat-label>Hora</mat-label>
                                <input matInput placeholder="Hora" id="horaInicio" name="horaInicio"
                                    [(ngModel)]="evento.actividades[0].horaInicio" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row" *ngIf="moderadorActivo">
                        <div *ngIf=" evento.actividades[0].moderadores">
                            <mat-form-field class="example-full-width">
                                <mat-label>Moderador</mat-label>
                                <input matInput placeholder="Moderador" id="moderador" name="moderador"
                                    [(ngModel)]="evento.actividades[0].moderadores[0].nombre" disabled>
                            </mat-form-field>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-6 mt-3" style="height: 80%;    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);">
            <h5 *ngIf="false">conexion caida</h5>
            <div class=" evento-resume-tabla container-fluid">
                <section id="resume" class="p-2">
                    <div class="col-12 mb-0">
                        <h2>ASISTENTES</h2>
                        <!-- <h5>REGISTRO DE ASISTENCIA</h5> -->
                    </div>
                </section>
                <section class="table-evento-doc pb-3" style="margin-bottom: 0px;">
                    <div class="col-12">
                        <div class="card-content p-0">
                            <div class="media d-flex">
                                <div class="media-body text-right p-1" style="width: 100%;">
                                    <div class="">
                                        <div class="row header-search">
                                            <div class="col-8 ">
                                                <mat-form-field class="example-form-field" appearance="fill">
                                                    <mat-label>Buscar Asistente</mat-label>
                                                    <input matInput (keyup)="applyFilter($event)"
                                                        [(ngModel)]="terminoBusqueda" placeholder="Ingrese un Valor"
                                                        #input>
                                                    <button *ngIf="terminoBusqueda" matSuffix mat-icon-button
                                                        aria-label="Borrar" (click)="cleanSearchReception()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <button mat-raised-button extended color="primary" style="width: 100%;"
                                                    (click)="openRegistro()" matTooltip="Info about the action">Nuevo
                                                    Registro</button>
                                            </div>
                                        </div>
                                        <table mat-table [dataSource]="dataSource"
                                            class="mat-elevation-z8 tabla-actividad demo-table mt-2"
                                            style="margin-top: 0px;" #tabla1>
                                            <ng-container matColumnDef="nombre">
                                                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                                <td [title]="datos.primerNombre" mat-cell *matCellDef="let datos">
                                                    {{datos.primerNombre+' '+datos.segundoNombre}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="apellido">
                                                <th mat-header-cell *matHeaderCellDef> Apellido </th>
                                                <td [title]="datos.primerApellido" mat-cell *matCellDef="let datos">
                                                    {{datos.primerApellido+' '+datos.segundoApellido}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="documento">
                                                <th mat-header-cell *matHeaderCellDef>Documento</th>
                                                <td [title]="datos.identificacion" mat-cell *matCellDef="let datos">
                                                    {{datos.identificacion}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="institucion">
                                                <th mat-header-cell *matHeaderCellDef> Institución </th>
                                                <td [title]="datos.institucion" mat-cell *matCellDef="let datos">
                                                    {{datos.institucion}} </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                        </table>
                                        <mat-paginator #paginator [pageSizeOptions]="[3]" showFirstLastButtons style="box-shadow: 0 10px 10px rgba(34, 27, 27, 0.582);"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer1 mt-4">
            <div class="logo_vcb_footer_1">
                <span class="logo"></span>
            </div>
        </div>
        <div class="footer2">
            <div class="logo_vcb_footer_2">
                <span class="logo"></span>
            </div>
        </div>
    </div>
    <div *ngIf="!actividadesActivas" style="display: flex; justify-content: center;align-items: center; height: 60%">
        <h2>NO EXISTEN ACTIVIDADES ACTIVAS PARA REGISTRO EN ESTE HORARIO</h2>
    </div>
</div>