.logo_vcb_header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/Logo-PCL-horizontal-azul.png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
  height: 90px;
  width: 260px;
}

#categoria {
  text-transform: uppercase;
}

.container-content {
  padding-left: 95px;
  padding-right: 5px;
  width: 100%;
  height: 98% !important;
  // background-color: #286090;
}



.logo_vcb_footer_1 {
  background-image: url('../../assets/images/Logos-PCL-horizontal-para-pagina-web.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;

}

.footer1 {
  width: 100%;
}

.footer2 {
  width: 100%;
}

.logo_vcb_footer_2 {
  background-image: url('../../assets/images/Logos-PCL-horizontal-para-pagina-web2.png');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  height: 50px;
  width: 100%;
}


#evento {
  text-transform: uppercase;
}

#lugar {
  text-transform: capitalize;
}

#responsable {
  text-transform: capitalize;
}

#organizador {
  text-transform: capitalize;
}

.example-full-width {
  width: 100%;
  height: 65px;
  padding: 0px;
  border: 0px;
  font-size: small;

  input {
    color: rgb(59, 42, 42);
    font-weight: 550;
  }
}

.example-form-field {
  width: 100%;
  height: 68px;
  padding: 0px;
  border: 0px;
  font-size: small;

  input {
    // color: rgb(180, 27, 27);
    font-size: 15px;
    text-transform: uppercase;
  }
}

.tabla-actividad {
  height: 23vh !important;
  min-height: 23vh !important;
  max-height: 23vh !important;
  // width: 600% !important;
}