<div class="mt-2 event-resume container-fluid" style=" height: 230px;">
  <div class="row">
    <div class="col-3">
      <section id="resume">
        <div class="col mt-3">
          <h4 class="text-uppercase">Gestión Eventos</h4>
          <p>Próximos Eventos</p>
        </div>
      </section>
    </div>
    <div class="col-9" >
      <section class="mt-2"  style=" height: 200px;">
        <div class="card"  style=" height: 200px;background-color: rgba(240, 248, 255, 0);">
          <div class="card-content" >
            <div class="card-body" >
              <div class="media d-flex">
                <div id="carousel" class="carousel carousel-dark slide" >
                  <div class="carousel-inner">
                    <div class="carousel-item active"  style=" height: 150px;">
                      <div class="card crd-carousel">

                        <div class="card-body" style="z-index: 999;">
                          <div class="card-tittle">19 Abril</div>
                          <p class="card-text" style="color: #000;">Comité Estratégico Vicerrectoría de Cultura y
                            Bienestar</p>
                          <a href="#" class="btn btn-primary">Ver</a>
                        </div>
                        
                      </div>
                    </div>
                    <div class="carousel-item">
                      <div class="card crd-carousel">
                        <div class="card-body">
                          <div class="card-tittle">19 Abril</div>
                          <p class="card-text" style="color: #000;">Comité Estratégico Vicerrectoría de Cultura y
                            Bienestar</p>
                        </div>
                      </div>
                    </div>
                    <!-- Botones de control del carrusel -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Siguiente</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


<!-- CAADSA -->
<!-- <div class="card-event mb-3 text-center">
  <div class="card-header card-header-event">Eventos</div>
  <div class="card-body text-primary">
    <div id="carouselExample" class="carousel carousel-dark slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card crd-carousel">
            <div class="card-body">
              <h5 class="card-title">17 Abril</h5>
              <p class="card-text" style="color: black;">CDP - Apoyo a estudiantes XIX Congreso Nacional de Arte Moderno
                - Bogotá</p>
              <button class="btn">Ver</button>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card crd-carousel">
            <div class="card-body">
              <h5 class="card-title">19 Abril</h5>
              <p class="card-text" style="color: #000;">Comité Estratégico Vicerrectoría de Cultura y Bienestar</p>
              <a href="#" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card crd-carousel">
            <div class="card-body">
              <h5 class="card-title">30 Abril</h5>
              <p class="card-text" style="color: #000;">Apoyo sonido - Tercer Festival Culturas Afros</p>
              <a href="#" class="btn btn-primary">Ver</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
      </button>
    </div>
  </div>
</div> -->