

  <div class="card-event mb-3 text-center">
    <div class="card-header card-header-event">Eventos</div>
    <div class="card-body text-primary">
      <div id="carouselExample" class="carousel carousel-dark slide">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="card crd-carousel" >
              <div class="card-body">
                <h5 class="card-title">17 Abril</h5>
                <p class="card-text" style="color: black;">CDP - Apoyo a estudiantes XIX Congreso Nacional de Arte Moderno - Bogotá</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card crd-carousel">
              <div class="card-body">
                <h5 class="card-title">19 Abril</h5>
                <p class="card-text" style="color: #000;">Comité Estratégico Vicerrectoría de Cultura y Bienestar</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card crd-carousel">
              <div class="card-body">
                <h5 class="card-title">30 Abril</h5>
                <p class="card-text" style="color: #000;">Apoyo sonido - Tercer Festival Culturas Afros</p>
                <a href="#" class="btn btn-primary">Ver</a>
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Siguiente</span>
        </button>
      </div>
    </div>
  </div>


