<div class="padre container-content">
    <div class="row mt-2 encabezado_evento">
        <div class="col-2">
            <div class="header-registro">
                <div class="logo_vcb_header">
                    <span class="logo"></span>
                </div>
            </div>
        </div>
        <div class="col-10 ">
            <div class="row mt-3">
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label style="color: white; font-weight: 950;">Nombre del Evento</mat-label>
                        <input matInput placeholder="Evento" id="evento" name="evento" [(ngModel)]="nombreEvento"
                            disabled>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label style="color: white; font-weight: 950;">Edición</mat-label>
                        <input matInput  placeholder="Número" id="edicion" name="edicion"
                            [(ngModel)]="edicionEvento" disabled>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label style="color: white; font-weight: 950;">Categoría</mat-label>
                        <input matInput placeholder="Categoría" id="categoria" name="categoria"
                            [(ngModel)]="categoriaEvento" disabled>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">

                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label style="color: white; font-weight: 950;">Lugar de Realización</mat-label>
                      <input matInput placeholder="Lugar" id="lugar" name="lugar" [(ngModel)]="lugarEvento" disabled>
                    </mat-form-field>
                  </div>
                  
                <div class="col-4" >
                    <mat-form-field  appearance="outline"  class="example-full-width" > 
                        <mat-label style="color: white; font-weight: 950;">Fecha de Inicio</mat-label>
                        <input matInput placeholder="Fecha" id="fechaInicio" name="fechaInicio" 
                            [(ngModel)]="fechaInicioEvento" disabled>
                        <!-- <mat-hint>dd/mm/aaaa</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field class="example-full-width" appearance="outline"> 
                        <mat-label style="color: white; font-weight: 950;">Hora de Inicio</mat-label>
                        <input matInput placeholder="Hora" id="hora" name="hora" [(ngModel)]="horaInicioEvento"
                            disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="actividadesActivas" style="padding: 0px; height: 75%;width: 100%;">
        <div class="col-6 mt-4" style="height: 80%;    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);">
            <div class="contenedor mt-3" style="margin-left: 0px; height: 100%;">
                <div class="login">
                    <h2>GESTIÓN DE ACTIVIDADES</h2>
                    <h5>DETALLES ACTIVIDAD</h5>
                    <div class="row">
                        <div class="col-12 form-field-wrapper">
                            <mat-icon class="actividad"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Nombre de la Actividad</mat-label>
                                <input matInput placeholder="Actividad" id="actividad" name="actividad" [(ngModel)]="actividadActual"
                                     disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-field-wrapper">
                            <mat-icon class="categoria"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Categoría</mat-label>
                                <input matInput placeholder="Categoría" id="categoria" name="categoria"
                                    [(ngModel)]="categoriaActividad" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-6" *ngIf="evento.actividades[0].invitados">
                            <mat-form-field class="example-full-width">
                                <mat-label>Invitado</mat-label>
                                <input matInput placeholder="Responsable" id="responsable" name="responsable"
                                    [(ngModel)]="invitados" disabled>
                            </mat-form-field>
                        </div> -->
                        <div class="col-12 form-field-wrapper">
                            <mat-icon class="lugar"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Lugar de Realización</mat-label>
                                <input matInput placeholder="Lugar" id="lugar" name="lugar" [(ngModel)]="lugarActividad"
                                    disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 form-field-wrapper">
                            <mat-icon class="fecha"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Fecha de Realización</mat-label>
                                <input matInput placeholder="Fecha de Inicio" id="fechaInicio" name="fechaInicio"
                                    [(ngModel)]="fechaActividad" disabled>
                                <mat-hint>dd/mm/aaaa</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-4 form-field-wrapper">
                            <mat-icon class="hora"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Hora de Inicio</mat-label>
                                <input matInput placeholder="Hora" id="horaInicio" name="horaInicio"
                                    [(ngModel)]="horaActividad" disabled>
                            </mat-form-field>
                        </div>
                        <div class="col-4 form-field-wrapper">
                            <mat-icon class="hora-f"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Hora de Finalización</mat-label>
                                <input matInput placeholder="Hora" id="horaFinal" name="horaFinal"
                                    [(ngModel)]="horaFinalActividad" disabled>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- <div class="row" *ngIf="moderadorActivo">
                        <div *ngIf=" evento.actividades[0].moderadores">
                            <mat-form-field class="example-full-width">
                                <mat-label>Moderador</mat-label>
                                <input matInput placeholder="Moderador" id="moderador" name="moderador"
                                    [(ngModel)]="moderadorEvento" disabled>
                            </mat-form-field>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-12 form-field-wrapper">
                            <mat-icon class="registrador"></mat-icon>
                            <mat-form-field class="example-full-width-actividad">
                                <mat-label>Registrador</mat-label>
                                <input matInput placeholder="Moderador" id="moderador" name="moderador"
                                    [(ngModel)]="usuarioLogged" disabled>
                            </mat-form-field>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="col-6 mt-4" style="height: 80%;    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);">
            <h5 *ngIf="false">conexion caida</h5>
            <div class=" evento-resume-tabla container-fluid">
                <section id="resume" class="p-2">
                    <div class="col-12 mb-0">
                        <h2>ASISTENTES</h2>
                        <!-- <h5>REGISTRO DE ASISTENCIA</h5> -->
                    </div>
                </section>
                <section class="table-evento-doc pb-3" style="margin-bottom: 0px;">
                    <div class="col-12">
                        <div class="card-content p-0">
                            <div class="media d-flex">
                                <div class="media-body text-right p-1" style="width: 100%;">
                                    <div class="">
                                        <div class="row header-search">
                                            <div class="col-8 ">
                                                <mat-form-field class="example-form-field-search" appearance="fill">
                                                    <mat-label>Buscar Asistente</mat-label>
                                                    <input matInput (keyup)="applyFilter($event)"
                                                        [(ngModel)]="terminoBusqueda" placeholder="Ingrese un Valor"
                                                        #input>
                                                    <button *ngIf="terminoBusqueda" matSuffix mat-icon-button
                                                        aria-label="Borrar" (click)="cleanSearchReception()">
                                                        <mat-icon>close</mat-icon>
                                                    </button>
                                                </mat-form-field>
                                            </div>
                                            <div class="col-4">
                                                <button mat-raised-button extended color="primary" style="width: 100%; height: 70%;background-color: rgb(0, 74, 204) !important;"
                                                    (click)="openRegistro()" matTooltip="Info about the action">Nuevo
                                                    Registro</button>
                                            </div>
                                        </div>
                                        <table mat-table [dataSource]="dataSource"
                                            class="mat-elevation-z8 tabla-actividad demo-table mt-2"
                                            style="margin-top: 0px;" #tabla1>
                                            <ng-container matColumnDef="nombre">
                                                <th mat-header-cell *matHeaderCellDef> Nombres </th>
                                                <td [title]="datos.primerNombre" mat-cell *matCellDef="let datos">
                                                    {{datos.primerNombre+' '+datos.segundoNombre}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="apellido">
                                                <th mat-header-cell *matHeaderCellDef> Apellidos </th>
                                                <td [title]="datos.primerApellido" mat-cell *matCellDef="let datos">
                                                    {{datos.primerApellido+' '+datos.segundoApellido}}
                                                </td>
                                            </ng-container>
                                            <ng-container matColumnDef="documento">
                                                <th mat-header-cell *matHeaderCellDef>Documento</th>
                                                <td [title]="datos.identificacion" mat-cell *matCellDef="let datos">
                                                    {{datos.identificacion}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="facultad">
                                                <th mat-header-cell *matHeaderCellDef> Facultad </th>
                                                <td [title]="datos.facultad" mat-cell *matCellDef="let datos">
                                                    {{datos.facultad}} </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                                            <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
                                        </table>
                                        <mat-paginator #paginator [pageSizeOptions]="[3]" showFirstLastButtons style="box-shadow: 0 10px 10px rgba(34, 27, 27, 0.582);"></mat-paginator>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="footer mt-4">
            <div class="logo_vcb_footer">
                <span class="logo"></span>
            </div>
        </div>
    </div>
    <div *ngIf="!actividadesActivas" style="display: flex; justify-content: center;align-items: center; height: 60%">
        <h2>NO EXISTEN ACTIVIDADES ACTIVAS PARA REGISTRO EN ESTE HORARIO</h2>
    </div>
</div>