.logo_vcb_header {
  // background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../assets/images/Logo-y-capi-banner-módulo-de-registro.png');
  background-size: 110%;
  background-position: left;
  background-repeat: no-repeat;
  height: 140px;
  // width: 260px;
}

.encabezado_evento {
  height: 20%;
  width: 100%;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.418);
  background-color: rgb(0, 74, 204);
}

.container-content {
  padding-left: 95px;
  padding-right: 5px;
  width: 100%;
  height: 98% !important;
  // background-color: #286090; 
}

.logo_vcb_footer {
  background-image: url('../../assets/images/Logotipo-196-años-Universidad-del-Cauca-ViceCultura.png');
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100%;

}

.form-field-wrapper {
  display: flex;
  align-items: center;
}

.footer {
  width: 100%;
}

#filas-tabla{
  cursor: pointer;
}

#categoria {
  text-transform: capitalizez;
}

#evento {
  text-transform: capitalize;
}

#lugar {
  text-transform: capitalize;
}

#responsable {
  text-transform: capitalize;
}

#organizador {
  text-transform: capitalize;
}

.example-full-width {
  width: 100%;
  height: 45px;
  padding: 0px;
  border: 1px solid rgba(255, 255, 255, 0.398) !important;
  font-size: small;  
  // outline-color:  white;
  border-bottom-color: white;

  input {
    color: rgb(250, 247, 247);
    font-weight: 550;
    
    
  }
}


.example-full-width-actividad {
  width: 100%;
  height: 65px;
  padding: 0px;
  color: black;
  font-size: small;  
  input {
    font-weight: 650;
  }
}

.example-form-field {
  width: 100%;
  height: 68px;
  padding: 0px;
  border: 0px;
  font-size: small;

  input {
    // color: rgb(180, 27, 27);
    font-size: 45px;
    text-transform: uppercase;
  }
}

.example-form-field-search {
  width: 100%;
  // height: 68px;
  padding: 0px;
  border: 0px;
  // font-size: small;

  input {
    // color: rgb(180, 27, 27);
    // font-size: 45px;
    text-transform: uppercase;
  }
}


.tabla-actividad {
  height: 23vh !important;
  min-height: 23vh !important;
  max-height: 23vh !important;
  // width: 600% !important;
}

.actividad {
  background-image: url('../../assets/images/icon/desarrollo-de-productos.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}

.categoria {
  background-image: url('../../assets/images/icon/categoria.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}


.lugar {
  background-image: url('../../assets/images/icon/ubicacion-invitacion.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}


.fecha {
  background-image: url('../../assets/images/icon/calendario.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}

.hora {
  background-image: url('../../assets/images/icon/reloj2.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}

.hora-f {
  background-image: url('../../assets/images/icon/reloj.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}

.registrador {
  background-image: url('../../assets/images/icon/avatar.png');
  min-height: 30px;
  min-width: 30px;
  max-height: 30px;
  max-width: 30px;
  background-size: 100%;
  margin-right: 10px !important;
  background-position: center;
}