
<!-- Menú Lateral Principal -->
<app-principal-menu (menuSelector)="actualWindow($event)" class="lateral-menu"></app-principal-menu>

<!-- Lógica de Activación de Módulos -->

<div class="aloja">
    <app-home-module *ngIf="false" class="home"></app-home-module>
    <app-document-module *ngIf="false" class="document"></app-document-module>
    <app-event-module *ngIf="false" class="event"></app-event-module>
    <app-feria class="feria" *ngIf="true"></app-feria>
</div>

<!-- <app-home-module *ngIf="home" class="home"></app-home-module> -->
